[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=sidux
ServiceTypes=SearchProvider
Keys=sid,sidux
Query=http://sidux.com/index.php?name=Search&action=search&bool=AND&overview=1&active_stories=1&active_faqs=1&active_pnphpbb2=1&active_reviews=1&active_downloads=1&q=\\{@}
