Source: sidux-searchplugins
Section: graphics
Priority: optional
Maintainer: Kel Modderman <kelmo@siduxguide.org>
Uploaders: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs, debhelper (>= 6)
Standards-Version: 3.7.3
Vcs-Svn: svn://svn.berlios.de/fullstory/sidux-searchplugins/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/sidux-searchplugins/trunk/

Package: sidux-searchplugins
Architecture: all
Recommends: iceweasel, konqueror
Description: sidux search plugins for popular web browsers
 Search Plug-In for sidux.com, used in Iceweasel  and other compatible
 browsers.
 .
 This package also provides a searchprodviders Plug-In for konqueror.
